<script>
  window.difyChatbotConfig = {
    token: 'SkBAHAvlkisS9UhP',
    inputs: {
      // You can define the inputs from the Start node here
      // key is the variable name
      // e.g.
      // name: "NAME"
    },
    systemVariables: {
      // user_id: 'YOU CAN DEFINE USER ID HERE',
      // conversation_id: 'YOU CAN DEFINE CONVERSATION ID HERE, IT MUST BE A VALID UUID',
    },
    userVariables: {
      // avatar_url: 'YOU CAN DEFINE USER AVATAR URL HERE',
      // name: 'YOU CAN DEFINE USER NAME HERE',
    },
  }
</script>
<script
  src="https://udify.app/embed.min.js"
  id="SkBAHAvlkisS9UhP"
  defer>
</script>
<style>
  #dify-chatbot-bubble-button {
    position: fixed !important;
    bottom: 1.5rem !important;
    right: 1.5rem !important;
    z-index: 99999 !important;
    background-color: #1C64F2 !important;
  }
  #dify-chatbot-bubble-window {
    position: fixed !important;
    bottom: 5.5rem !important;
    right: 1.5rem !important;
    width: 24rem !important;
    height: 40rem !important;
    z-index: 99998 !important;
  }
</style>
